<div id="header_action_box">
  <ul>
    <% if user_signed_in? %>
      <div class="signed_in_blue_links"><li><%= link_to current_user.email, edit_user_registration_path %></li>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %></li></div>
    <% else %>
      <li><%= link_to "Sign in", new_user_session_path %></li>
      <div class='signup'><li><%= button_to "Sign up!", new_user_registration_path, :method => 'get'%></li></div?>
    <% end %>

  </ul>
</div>

<div id="top-border"></div>

<h2>Resend confirmation instructions</h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "Resend confirmation instructions" %></div>
<% end %>

<%= render "devise/shared/links" %>
