<div class="modal-body">
<%- model_class = Shop -%>
<table class="table table-hover" id="shops-results">

  <thead>
    <tr>
      <th><%= model_class.human_attribute_name( :name ) %></th>
      <th><%= model_class.human_attribute_name( :rating ) %></th>
      <th><%= model_class.human_attribute_name( :rate ) %></th>
    </tr>
  </thead>

  <tbody>
    <% shops.each_with_index do |shop, index| %>
      <tr class='shop-info-row', data-id="<%= index %>" >
        <td><%= link_to( shop.name, shop_path( shop ) ) %></td>
        <td><%= shop.chai_score.round( 1 ) %></td>
        <td class="show_rating_row"><button class="btn btn-small"><i class="icon-eye-open"></i></button></td>
      </tr>
      <tr class="visit_rating">
        <%= form_for shop.visits.build, :class => 'rating_form' do |f| %>
        <%= f.hidden_field :shop_id, { :value => shop.id } %>
        <td class="rating-sliders", colspan="2">
          <%= f.label 'wifi:' %>
          <%=f.range_field :wifi, :in => 1..5 %>
          <%= f.label 'power sockets:'%>
          <%=f.range_field :power, :in => 1..5 %>
          <%= f.label 'atmosphere:'%>
          <%=f.range_field :atmosphere, :in => 1..5 %>
        </td>
        <td>          
          <%= f.submit "Rate", :class => "btn btn-warning btn-large" %>
        </td>
        <% end -%>
      </tr>
    <% end %>
  </tbody>

</table>
</div>

