
<div class='info-window' >

  <div id = 'info-window-address'>
    <%= link_to shop.name, shop_path(shop.id) %></br>

    <%= shop.address %></br>
    <%= shop.city %>, <%= shop.state_code %> <%= shop.postal_code %>
  </div>

  <div id = 'info-window-image'>
    <%= image_tag shop.img_url %>
  </div>

</div>
