
<h1>Review for: <%= Shop.find(params[:format]).name %></h1>

<%= form_for(@visit) do |f| %>

  <%= f.label 'wifi:' %>
  <%=f.select :wifi, options_for_select((1..10))%>
  <%= f.label 'power sockets:'%>
  <%=f.select :power, options_for_select((1..10))%>
  <%= f.label 'atmosphere:'%>
  <%=f.select :atmosphere, options_for_select((1..10))%>

  <!-- Needs code review by staff! -->
  <%= f.hidden_field :shop_id, { :value => Shop.find(params[:format]).id } %>
  <%= f.submit "Rate your visit", :class => "btn btn-medium btn-primary" %>

<% end %>

