<div id="header_action_box">
  <ul>
    <% if user_signed_in? %>
      <div class="signed_in_blue_links"><li><%= link_to current_user.email, edit_user_registration_path %></li>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %></li></div>
    <% else %>
      <li><%= link_to "Sign in", new_user_session_path %></li>
      <div class='signup'><li><%= button_to "Sign up!", new_user_registration_path, :method => 'get'%></li></div?>
    <% end %>

  </ul>
</div>

<div id="top-border"></div>

<p>Welcome <%= @resource.email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
