<div id="header_action_box">
  <ul>
    <% if user_signed_in? %>
      <div class="signed_in_blue_links"><li><%= link_to current_user.email, edit_user_registration_path %></li>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %></li></div>
    <% else %>
      <li><%= link_to "Sign in", new_user_session_path %></li>
      <div class='signup'><li><%= button_to "Sign up!", new_user_registration_path, :method => 'get'%></li></div?>
    <% end %>

  </ul>
</div>

<div id="top-border"></div>

<p>Hello <%= @resource.email %>!</p>

<p>Your account has been locked due to an excessive amount of unsuccessful sign in attempts.</p>

<p>Click the link below to unlock your account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
