<div id="header_action_box">
  <ul>
    <% if user_signed_in? %>
      <div class="signed_in_blue_links"><li><%= link_to current_user.email, edit_user_registration_path %></li>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %></li></div>
    <% else %>
      <li><%= link_to "Sign in", new_user_session_path %></li>
      <div class='signup'><li><%= button_to "Sign up!", new_user_registration_path, :method => 'get'%></li></div?>
    <% end %>

  </ul>
</div>

<div id="top-border"></div>

<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Update", :class => "contact_button" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %>
